#home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile {
    margin-top: 20vh;
    width: 110px;
    height: 110px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .profile-text {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h3 {
      color: #fff;
      font-size: 3rem;
      @media screen and (max-width: 500px) {
        font-size: 2rem;
      }
      .name {
        color: #8c12f0;
      }
    }

    .job {
      margin-top: 2rem;
      color: #fff;
      text-align: center;
      font-size: 5rem;
      line-height: 1.3;

      @media screen and (max-width: 800px) {
        font-size: 3.5rem;
        margin-top: 2rem;
      }
      @media screen and(max-width: 530px) {
        font-size: 2.5rem;
      }
    }

    .text {
      color: #fff;
      opacity: 0.5;
      font-size: 0.85rem;
    }

    a {
      margin-top: 3rem;
      text-decoration: none;
      color: #000;
      background: #fff;
      padding: 0.65rem 1rem;
      border-radius: 10px;
      font-size: 0.85rem;
      text-transform: capitalize;
    }

    div {
      position: absolute;
      background: rgba(255, 255, 255, 0.15);
      color: #fff;
      padding: 0.35rem 1rem;
      border-radius: 25px;
      font-size: 0.85rem;
      cursor: pointer;
    }

    @media screen and (max-width: 800px) {
      div {
        display: none;
      }
    }

    .self {
      top: -5rem;
      left: -4rem;

      opacity: 0;
      animation: opacityOn 5s normal forwards;
      animation-delay: 2s;
    }

    .exp {
      right: -6rem;
      top: -2.5rem;

      opacity: 0;
      animation: opacityOn 5s normal forwards;
      animation-delay: 3s;
    }

    .engineer {
      bottom: -4rem;
      left: 0;

      opacity: 0;
      animation: opacityOn 5s normal forwards;
      animation-delay: 4s;
    }
    .phd {
      bottom: 2rem;
      left: 33rem;

      opacity: 0;
      animation: opacityOn 5s normal forwards;
      animation-delay: 5s;
    }

    @keyframes opacityOn {
      25% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
